.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    color: var(--white);
    height: 70px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000;
    margin: 0 auto;
}

/* Left Section: Logo */
.navbar-left .logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo-icon {
    width: 34px;
    height: 34px;
}

.logo-text {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--white);
    opacity: 0.75;
}

/* Center Section: Links */
.navbar-center .nav-links {
    list-style: none;
    display: flex;
    width: 531px;
    height: 35px;
    Top: 64px;
    gap: 60px;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    font-family: "Indie Flower";
    line-height: 100%;
}


/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.arrow-down {
    font-size: 0.6rem;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a3424;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    top: 100%;
    left: 0;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}

.dropdown-content a {
    color: var(--white-75-hex);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

/* Right Section: Icons */
.navbar-right .nav-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 22px;
    height: 22px;
}

.bag-icon {
    width: 22px;
    height: 22px;
}

.hamburger {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
}

.hamburger span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: var(--white);
    border-radius: 2px;
}

.hamburger span:last-child {
    width: 18px;
    height: 2.5px;
    align-self: flex-end;
}